@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    
    color: #444444;
}

.topcat-container {
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
}

.topcat-row{
    margin-top: 20px;
}

@media screen and (max-width: 500px){
    .topcat-container {
        margin-top: 10px;
        padding-left: 50px;
    }
}